{% load static %}
{% include 'administracion/sethings/links.html' %}

<main>
    <div class="table-responsive mt-4">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Receta</th>
                    <th scope="col">Calorias</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Variedad</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for ingrediente in ingredientes %}
                <tr>
                    <td>{{ ingrediente.nombre }}</td>
                    <td>{{ ingrediente.cantidad }}</td>
                    <td>{{ ingrediente.receta.nombre_plato }}</td>
                    <td>{{ ingrediente.calorias }}</td>
                    <td>{{ ingrediente.precio }}</td>
                    <td>{{ ingrediente.variedad }}</td>
                    <td>
                        <div class="acciones">
                            <button class="btn btn-warning delete-btn" data-url="{% url 'borrar_ingrediente' ingrediente.pk %}" data-id="{{ ingrediente.pk }}">
                                <i class="fas fa-trash"></i>
                            </button>
                            <a href="{% url 'actualizar_ingrediente' ingrediente.pk %}" class="btn btn-info">
                                <i class="fas fa-user-edit fa-lg"></i>
                            </a>
                            <a href="{% url 'ver_ingrediente' ingrediente.id_ingrediente %}" class="btn btn-primary">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="float-button">
        <a href="{% url 'insertar_ingrediente' %}" class="btn" data-toggle="tooltip" title="Agregar nuevo ingrediente">
            <i class="fas fa-plus"></i>
        </a>
    </div>
</div>
</main>

{% include 'administracion/sethings/src.html' %}