{% load static %}
{% include 'administracion/sethings/links.html' %}

<main>
    <div class="table-responsive mt-4">
        <h1 class="float-end">ReceFy Admin</h1>
        <table class="table table-bordered table-hover" id="recetasTable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Imagen</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Idioma</th>
                    <th scope="col">Fecha de nacimiento</th>
                    <th scope="col">Titulación</th>
                    <th scope="col">País</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for consejero in consejeros %}
                <tr>
                    <td>
                       
                        {% if consejero.usuario.imagen2 %}
                            <a href="#">
                                <img src="{{ consejero.usuario.imagen2.url }}" alt="{{ consejero.usuario.first_name }}" class="img-thumbnail">
                            </a>
                        {% elif consejero.usuario.imagen1 %}
                            <img src="{{ consejero.usuario.imagen1.url }}" class="img-thumbnail" alt="{{ consejero.nombre }}">
                        {% else %}
                            <span>No Image</span> 
                        {% endif %}
                    </td>
                    <td>{{ consejero.usuario.first_name }}</td>
                    <td>{{ consejero.usuario.last_name }}</td>
                    <td>{{ consejero.descripcion }}</td>
                    <td>{{ consejero.usuario.idioma }}</td>
                    <td>{{ consejero.usuario.fecha_nacimiento }}</td>
                    <td>{{ consejero.titulacion }}</td>
                    <td>{{ consejero.usuario.pais }}</td>
                    <td>
                        <div class="acciones">
                           
                            <a href="{% url 'cambiar_rol' consejero.usuario.id %}" 
                                class="btn btn-warning delete-btn" 
                                data-url="{% url 'cambiar_rol' consejero.usuario.id %}"
                                data-id="{{ consejero.usuario.id }}">
                                    <i class="fas fa-trash"></i>
                            </a>

                            <a href="" class="btn btn-info">
                                <i class="fas fa-user-edit fa-lg"></i>
                            </a>
                            <a href="" class="btn btn-primary">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="9">No se encontraron consejeros.</td>
                    <td colspan="9"><a href="{% url '' %}">Agregar Consejero</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <!-- Botón para agregar nuevo consejero, si aplica -->
    
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Primera</a>
                <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}
            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </span>
    </div>
</main>

{% include 'administracion/sethings/src.html' %}