{% load static %}
{% include 'administracion/sethings/links.html' %}

<main>
    <div class="table-responsive mt-4">
        <h1 class="float-end">ReceFy Admin</h1>
        <table class="table table-bordered table-hover" id="recetasTable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Imagen</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Idioma</th>
                    <th scope="col">Fecha de nacimiento</th>
                    <th scope="col">Titulación</th>
                    <th scope="col">País</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se itera sobre las recetas para mostrar cada fila -->
                {% for consejero in consejeros %}
                <tr>
                    <td>
                        <a href="#">
                            <img src="{{ consejero.imagen.url }}" alt="{{ consejero.nombre }}" class="img-thumbnail">
                        </a>
                    </td>
                    <td>{{ consejero.nombre }}</td>
                    <td>{{ consejero.apellido }}</td>
                    <td>{{ consejero.descripcion }}</td>
                    <td>{{ consejero.idioma }}</td>
                    <td>{{ consejero.fecha_nacimiento }}</td>
                    <td>{{ consejero.titulacion }}</td>
                    <td>{{ consejero.pais }}</td>
                    <td>
                        <div class="acciones">
                            <button class="btn btn-warning delete-btn" data-url="{% url 'borrar_consejero' consejero.pk %}" data-id="{{ consejero.pk }}">
                                <i class="fas fa-trash"></i>
                            </button>
                            <a href="{% url 'actualizar_consejero' consejero.pk %}" class="btn btn-info">
                                <i class="fas fa-user-edit fa-lg"></i>
                            </a>
                            <a href="{% url 'ver_consejero' consejero.id_consejero %}" class="btn btn-primary">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Botón para agregar nueva receta -->
    <div class="float-button">
        <a href="{% url 'insertar_consejero' %}" class="btn" data-toggle="tooltip" title="Agregar nueva receta">
            <i class="fas fa-plus"></i>
        </a>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if recetas.has_previous %}
                <a href="?page=1">&laquo; Primera</a>
                <a href="?page={{ recetas.previous_page_number }}">Anterior</a>
            {% endif %}
            <span class="current">
                Página {{ recetas.number }} de {{ recetas.paginator.num_pages }}.
            </span>
            {% if recetas.has_next %}
                <a href="?page={{ recetas.next_page_number }}">Siguiente</a>
                <a href="?page={{ recetas.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

</main>

{% include 'administracion/sethings/src.html' %}