body{
    background: url('https://images.pexels.com/photos/1565982/pexels-photo-1565982.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1s') no-repeat center center/cover;
}

main {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

hr{
    margin: 0 auto;
    background-color: #28a56b;
    border-radius: 25px;
    height: 3px;
    margin-bottom: 14px;
}

.texts{
    text-align: center;
}
.form {
    background-color: rgba(255, 255, 255, 0.486);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 620px;
    max-width: 90%;
    color: white;
    height: 720px;
    border: 4px solid transparent; /* Agrega el borde */
    transition: border-color 0.3s ease , transform 0.5s ease; /* Aplica la transición al cambio de color del borde */
}

.form:hover {
    border-color: #28a56b; /* Cambia el color del borde al pasar el ratón por encima */
    transform: scale(1.05); /* Escala el contenedor al 105% cuando se pasa el cursor */
}

.form input{
    border-radius: 25px;
}
