
body {
    background: url('https://images.pexels.com/photos/7601397/pexels-photo-7601397.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: auto; 
    font-family: "Urbanist", sans-serif;

}

main{
    margin: 0 auto;
    width: 60%;
}

.container{
    background-color: rgba(255, 255, 255, 0.486);
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 25px;
    border: 2px solid #0d6efd;
    text-align: center;
    transition: border 0.3s ease, transform 0.3s ease;
}

.container:hover{
    border: 2px solid #28a56b;
    transform: scale(1.03);
}

.textos h1{
    font-family: 'Courgette', cursive;
    font-family: 'Lobster', sans-serif;
}

.textos h2{
    display: none;
    font-family: 'Courgette', cursive;
    font-family: 'Lobster', sans-serif;
}

.textos h3{
    font-size: 18px;
}

hr{
    background-color: #28a56b;
    height: 2px;
    border-radius: 15px;
}

.form-control{
    border: 1px solid gray;
    border-radius: 25px;
    font-weight: 500;
    transition: border 0.3s ease;
}

.form-control:hover{
    border: 1px solid #28a56b;
}


.btn{
    border-radius: 25px;
    width: 50%;
    transition: border 0.4s ease, background-color 0.4s ease ;
}

.btn:hover{
    border: 1px solid grey;
    background-color: #114da7;
}


@media (max-width: 768px) {
    body {
        background: url('https://images.pexels.com/photos/1833349/pexels-photo-1833349.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center/cover;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        overflow: auto; 
    }

    .textos h1{
        display: none;
    }

    .textos h2{
        font-family: 'Courgette', cursive;
        font-family: 'Lobster', sans-serif;
        display: block;
        
    }

    .textos h3{
        font-size: 15px;
    }

    main {
        width: 95%;
    }

   .container{
        margin-top: 5px;
        margin-bottom: 5px;
        border: none;
        transition: none;
        padding: 15px;
   }

   .container:hover{
        border: none;
        transform: none;
   }
    
}


@media (max-width: 381px) {
    body {
        background: url('https://images.pexels.com/photos/6287493/pexels-photo-6287493.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center/cover;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        overflow: auto; 
        
    }
    
    .textos h1{
        display: none;
    }

    .textos h2{
        font-family: 'Courgette', cursive;
        font-family: 'Lobster', sans-serif;
        display: block;
    }

    main {
        width: 95%;
    }

    .container{
        margin-top: 15px;
        margin-bottom: 15px;
        border: none;
        transition: none;
   }

   .container:hover{
        border: none;
        transform: none;
   }
    
}

