@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
}

body{
    background:url('https://images.pexels.com/photos/5677722/pexels-photo-5677722.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')no-repeat center center/cover;
}

main{
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

.container{
    background-color: rgba(255, 255, 255, 0.486);
    padding: 20px;
    border-radius: 15px;
    width: 60%;
    transition:  transform 0.5s ease, background-color 0.3s ease;
}

.container:hover{
    background-color: rgba(255, 255, 255, 0.377);
    transform: scale(1.05);
}



hr{
    background-color: #28a56b;
    height: 3px;
}


.text{
    color: white;
    text-align: center;
}
.text h1{
    font-family: 'Courgette', cursive;
    font-family: 'Lobster', sans-serif;
}

.form-group label{
    border-radius: 15px;
}

.form-control{
    border: 2px solid #28a56b;
    border-radius: 25px;
}

form label {
    color: #333;
    font-weight: 500;
    margin-bottom: 10px;
    transition: font-weight 0.3s ease;
}



.correo{
    text-align: center;
    font-size: 20px;
}

p{
    font-size: 15px;
}

@media screen and (min-width: 1280px) {
    .container {
        margin-top: 30px;
        margin-bottom: 140px;
    }
}


@media (max-width: 768px) {
    body {
        background: url('https://images.pexels.com/photos/4686826/pexels-photo-4686826.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center/cover;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        overflow: auto; 
    }


    main {
        width: 100%;
        height: 50%; 
    }

    .form:hover {
        border: none; 
    }
    
}