{% load static %}
{% include 'inc/header.html' %}

<link rel="stylesheet" href="{% static 'css/consejeros/option.css' %}">

<main>

    <div class="container">
    
        <div class="textos">
            <h1>ReceFy</h1>
            <h2>Bienvenido a Consejeros</h2>
        </div>

        <hr>

        <div class="row">

            <div class="col" id="postulacion">
                <h1>Postulate A Consejero</h1>
                <p>Envianos tu hoja de vida para entrar en el proceso de seleccion, los consejeros se encargan de ayudar a los usuarios en su proceso de cocinar y mejorar su experiencia a la hora de elaborar sus Recetas.</p>
                <small>ReceFy</small>
            </div>

            <div class="col" id="ver">
                <h1>Busca un Consejero</h1>
                <p>¡Encuentra un consejero aqui! , Busca la ayuda de un profesional en distintas area de Gastronomia, Nutricionistas y especialistas de distintas areas de la salud... todos estos profesionales te ayudaran y te acompañaran en los procesos que necesites.</p>
                <small>ReceFy</small>
            </div>

        </div>

    </div>

</main>

{% include 'inc/footer.html' %}

</body>
</html>