/* Estilos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('https://images.pexels.com/photos/943694/pexels-photo-943694.jpeg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    font-family: "Urbanist", sans-serif;
    overflow-x: hidden;  
    overflow-y: auto;
}

main {
    margin: 0 auto;
    width: 90%; 
}

.container {
    background-color: rgba(255, 255, 255, 0.486);
    border: 2px solid #0d6efd;
    border-radius: 25px;
    padding: 30px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80%; 
    max-width: 500px; 
    transition: border 0.3s ease, transform 0.3s ease;
}

.container:hover {
    border: 2px solid #28a56b;
    transform: scale(1.03);
}

.titulos h1 {
    font-size: 37px;
    font-family: 'Courgette', cursive, 'Lobster', sans-serif;
}

.titulos h3 {
    font-size: 20px;
}

hr {
    background-color: #28a56b;
    height: 2px;
    border-radius: 15px;
}

.form-control {
    border: 1px solid gray;
    border-radius: 25px;
}

.form-control:hover {
    border: 1px solid #28a56b;
}

.btn {
    width: 75%;
    border-radius: 25px;
    transition: border 0.4s ease, background-color 0.4s ease;
}

.btn:hover {
    border: 1px solid grey;
    background-color: #114da7;
}

#calcular {
    background-color: #28a56b;
    padding: 5px;
    width: 75%;
    border-radius: 25px;
    color: white;
    border: gray;
    transition: background-color 0.3s ease;
}

#calcular:hover {
    background-color: #136d43;
}

#resultadoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.card {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    margin: 10px;
    width: 90%;
    max-width: 400px;
    height: 300px;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
    text-align: center;
    height: calc(300px - 150px);
}

.card-title {
    font-size: 20px;
    font-family: 'Courgette', cursive;
    color: #28a56b;
}

.card-body span {
    display: inline-block;
    margin: 5px 0;
    color: #fff;
}

.text-white {
    color: white;
}

/* Media Queries */
@media (max-width: 1200px) {
    .card {
        max-width: 350px;
        margin: 15px auto; /* Centra las cards */
    }
}

@media (max-width: 992px) {
    .card {
        max-width: 320px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        margin-top: 5px;
    }

    .container:hover {
        border: none;
        transform: none;
    }

    .titulos h1 {
        display: none;
    }

    .container h2 {
        display: block;
        font-family: 'Courgette', cursive, 'Lobster', sans-serif;
        font-size: 35px;
    }

    .card {
        width: 100%;
        max-width: 350px;
        height: 200px;
        margin: 10px auto; /* Centra las cards */
    }

    .card-body span {
        display: inline-block;
        margin: 5px 0;
        color: #fff;
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    body {
        background: url('https://images.pexels.com/photos/784632/pexels-photo-784632.jpeg') no-repeat center center fixed;
        background-size: cover;
        width: 100%;
        overflow: auto;
    }

    .container {
        width: 95%;
        padding: 10px;
        margin-top: 5px;
    }

    .titulos h1 {
        font-size: 32px;
        color: black;
    }

    .titulos h2 {
        color: black;
        font-size: 19px;
    }

    .card {
        width: 100%;
        max-width: 300px;
        margin: 5px auto;
    }

    .card-body h2 {
        font-size: 18px;
    }

    .card-text {
        font-size: 12px;
    }
}
