/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilos generales */
body {
    margin: auto;
    font-family: 'Urbanist', sans-serif;
    background-color: #222;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;

}

h3 {
    font-family: 'Lobster', cursive;
}

body.light-mode {
    background-color: #eae4e4; /* Color de fondo claro */
    color: #222; /* Color de texto claro */
}

.iconos_sol_luna {
    font-size: 20px; /* Tamaño del icono */
    color: #ffffff; /* Color blanco por defecto (para tema oscuro) */
    cursor: pointer; /* Cambia el cursor al pasar sobre el icono */
    margin-left: 88%;
    margin-top: 10px;
}

body.light-mode .iconos_sol_luna {
    color: #000000; /* Color negro en modo claro */
}

.logo {
    margin-left: 30px;
}

.logo h1, .pagina h2 {
    font-family: 'Lobster', cursive;
    color: rgb(255, 255, 255);
    transition: color 0.3s ease, font-size 0.3s ease;
    text-align: center;
}

.pagina {
    position: absolute; /* Posiciona .pagina de forma absoluta */
    left: 50%; /* Mueve horizontalmente el centro del elemento */
    transform: translateX(-50%); /* Ajusta el desplazamiento para centrar */
    text-align: center; /* Asegura que el texto esté centrado */
}

.pagina h2 {
    font-size: 43px;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo i {
    color: white;
    margin-right: 8px;
    transition: color 0.4s ease;
}

.logo i:hover {
    color: #28a56b;
}

.slogan a {
    text-decoration: none;
}

.slogan h1 {
    text-decoration: none;
    margin-right: 115px;
    color: #ffffff;
    font-family: "Urbanist", sans-serif;
    font-size: 24px;
    transition: color 0.3s ease;
}

.logo:hover h1, .pagina h2:hover {
    font-size: 45px;
}

.slogan h1:hover {
    color: #28a56b !important;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

body.light-mode .pagina h2,
body.light-mode .logo h1,
body.light-mode .slogan h1 {
    color: green; /* Color negro para h2 y h1 en modo claro */
}

body.light-mode .logo i {
    color: green; /* Color verde para iconos en modo claro */
}

.titulos_comidas {
    color: white;
}

body.light-mode .titulos_comidas{
    color: #000000bf;
}

/* Estilos para el buscador */
.search-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

#searchInput {
    width: 100%;
    padding: 10px 40px 10px 40px; /* Ajusta el padding a la izquierda para dar espacio al icono */
    border: 2px solid #28a56b;
    border-radius: 25px; /* Borde más redondeado */
    font-size: 16px;
    background-color: white; /* Fondo blanco */
    color: #333; /* Color del texto oscuro para contraste */
    transition: border-color 0.3s, background-color 0.3s; /* Transiciones suaves */
}

#searchInput:focus {
    border-color: #28a56b; /* Color del borde al enfocar */
    outline: none;
    background-color: #f0f0f0; /* Fondo más claro al enfocar */
}

/* Estilo del icono de búsqueda */
.search-icon {
    position: absolute;
    top: 12px;
    right: 15px; /* Ajusta la posición a la izquierda */
    color: #28a56b;
    font-size: 20px;
    transition: color 0.3s; /* Transición suave */
}

.search-icon:hover {
    color: #fff; /* Cambia a blanco al pasar el mouse */
}

body.light-mode #searchInput {
    border: 2px solid green;
}

body.light-mode .search-icon{
    color: green;
}

body.light-mode .search-icon:hover{
    color: black;
    cursor: pointer;
}


/* Estilos de las categorías */
.category-link {
    color: #28a56b;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 5px;
    border: 2px solid transparent;
    transition: border-color 0.3s, color 0.3s;
    border-radius: 15px;
}

.category-link:hover {
    border-color: #28a56b;
    color: #fff;
}

body.light-mode .category-link{
    color: green;
}

body.light-mode .category-link:hover{
    border-color: green;
    color: #000000c1;
    text-decoration: none;
}

.botones{
    text-align: center;
}

.category-container {
    position: relative; /* Asegura que los botones de flechas se posicionen dentro de este contenedor */
}

.slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

/* Slider */
.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slider {
    overflow: hidden;
    width: 100%;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.recipe-card {
    flex: 0 0 33.33%;
    box-sizing: border-box;
    padding: 0 10px;
}

.card {
    height: 100%;
}

.slider-btn {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    padding: 0;
    margin: 0;
    outline: none;
    transition: transform 0.3s ease;
}

body.light-mode .slider-btn{
    color: green;
}

.slider-btn.left-btn {
    left: -100px; /* Ajusta según tu diseño */
}

.slider-btn.right-btn {
    right: -100px; /* Ajusta según tu diseño */
}

.slider-btn:hover {
    color: rgba(255, 255, 255, 0.7); /* Cambia ligeramente el color al pasar el ratón */
}

.slider-btn i {
    transition: transform 0.3s ease;
}

.slider-btn:hover i {
    transform: scale(1.2); /* Ajusta la escala según el tamaño que desees */
}



/* Estilos de las tarjetas de recetas */
.recipe-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en múltiples líneas */
}

.card {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    margin: 10px; /* Espacio entre las tarjetas */
    width: 90%; /* Ajustar el ancho de las tarjetas */
    max-width: 400px; /* Ancho máximo para las tarjetas */
    height: 300px; /* Altura fija para las tarjetas */
}

.card:hover {
    transform: scale(1.05);
}

body.light-mode .card{
    background-color: #fff;
    border-color: #0000006e;
}

.card-img-top {
    width: 100%;
    height: 150px; /* Altura fija para las imágenes */
    object-fit: cover; /* Mantiene la proporción de la imagen */
}

.card-body {
    padding: 15px;
    text-align: center;
    height: calc(300px - 150px); /* Ajusta la altura del cuerpo de la tarjeta */
}


.card-title {
    font-size: 20px;
    font-family: 'Courgette', cursive;
    
    color: #28a56b;
}

body.light-mode .card-title {
    color: green;
}

/* Estilos de los iconos dentro de la tarjeta */
.card-body span {
    display: inline-block;
    margin: 5px 0;
    color: #fff;
}

body.light-mode .card-body span {
    color: #000000c1;
}

/* Estilos de los mensajes cuando no hay recetas */
h3 {
    color: wheat;
    text-align: center;
}

/* Estilos de separación */
hr {
    border-top: 1px solid #28a56b;
    margin: 20px 0;
}

body.light-mode hr{
    color: green;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .slider-container {
        position: relative;
        overflow: hidden;
        border-radius: 10px; /* Esquinas redondeadas para el contenedor */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra para un efecto de elevación */
        display: flex; /* Agregado para usar flexbox */
        justify-content: center; /* Centra horizontalmente el contenido */
        align-items: center; /* Centra verticalmente el contenido */
    }
    
    .slider-track {
        display: flex;
        transition: transform 0.5s ease-in-out;
        will-change: transform; /* Mejora de rendimiento para animaciones */
    }

    #searchInput {
        margin-bottom: 10px;
    }

    .recipe-card {
        flex-direction: column;
        align-items: center; /* Cambiado a center para centrar las tarjetas */
        margin-left: -20px; /* Ajusta el margen izquierdo para mover las tarjetas a la izquierda */
    }

    .card {
        margin: 15px 2px; /* Reduce el margen entre tarjetas */
        width: 150px; /* Establece un ancho fijo */
        max-width: none; /* Elimina el ancho máximo */
        height: 370px; /* Altura fija */
        padding-left: 0; /* Sin padding izquierdo */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra opcional */
    }

    .slider-btn {
        display: block; /* Asegúrate de que las flechas sean visibles en pantallas pequeñas */
        font-size: 2rem; /* Ajusta el tamaño de la fuente */
        top: 40%; /* Ajusta la posición vertical de las flechas */
        padding: 0 10px; /* Agrega algo de padding para evitar que queden pegadas a los bordes */
    }

    .slider-btn.left-btn {
        left: -20px; /* Ajusta la posición de la flecha izquierda */
    }

    .slider-btn.right-btn {
        right: -20px; /* Ajusta la posición de la flecha derecha */
    }
}

@media (max-width: 576px) {
    .category-link {
        display: block;
        margin: 5px 0;
    }

    .card-title {
        font-size: 18px;
    }

    .slider-btn {
        font-size: 20px;
    }

    h3 {
        font-size: 22px;
    }
}
