/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilos generales */
body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(25, 100, 65) 3%, rgba(36, 121, 36, 0.514) 38%, rgb(35, 146, 109) 68%, rgb(33, 71, 54) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

/* Efecto de ola */
.wave {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
}

@keyframes wave {
    2% { transform: translateX(1); }
    25% { transform: translateX(-25%); }
    50% { transform: translateX(-50%); }
    75% { transform: translateX(-25%); }
    100% { transform: translateX(1); }
}

/* Contenedor principal */
.container {
    width: auto;
}

.container hr {
    background-color: white;
    border-radius: 25px;
}

/* Encabezado */
.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3.5vw;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.logo {
    margin-left: 25px;
}

.logo h1, .pagina h2 {
    font-family: 'Lobster', sans-serif;
    color: rgb(255, 255, 255);
    transition: color 0.3s ease, font-size 0.3s ease;
    text-align: center;
    font-size: 42px;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo i {
    color: white;
    margin-right: 8px;
}

.slogan h1 {
    margin-right: 115px;
    color: #ffffff;
    font-family: "Urbanist", sans-serif;
    font-size: 20px;
}

.logo:hover h1, .pagina h2:hover {
    font-size: 47px;
}

h3{
    font-size: 22px;
}

/* Tarjetas */
.card {
    margin: 15px 0; /* Reduce el margen para que ocupen menos espacio */
    border: 1px solid #49484869;
    border-radius: 12px; /* Reduce el radio del borde */
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.1); /* Reduce el tamaño de la sombra */
    transition: transform 0.4s ease;
    text-align: center;
    height: auto;
    max-width: 300px; /* Establece un ancho máximo para las tarjetas */
    margin-left: auto; /* Centra las tarjetas horizontalmente */
    margin-right: auto; /* Centra las tarjetas horizontalmente */
}

.card:hover {
    transform: scale(1.03); /* Reduce el efecto de escalado */
}

.card a {
    text-decoration: none;
    color: inherit;
}

.card-img-top {
    width: 100%;
    height: 150px; /* Reduce la altura de la imagen */
    object-fit: cover;
    border-top-left-radius: 12px; /* Ajusta el radio del borde */
    border-top-right-radius: 12px; /* Ajusta el radio del borde */
}

.card-body {
    height: 180px; /* Reduce la altura del cuerpo de la tarjeta */
    padding: 15px; /* Reduce el padding */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body h2 {
    font-size: 28px; /* Reduce el tamaño de la fuente del título */
    font-family: 'Lobster', sans-serif;
}

.card hr {
    background-color: #28a56b;
    height: 3px; /* Reduce el grosor de la línea */
}

.card-title {
    font-size: 18px; /* Reduce el tamaño de la fuente del título */
    margin-bottom: 8px; /* Reduce el margen inferior */
    color: #333;
}

.card-text {
    font-size: 14px; /* Reduce el tamaño de la fuente del texto */
    color: #666;
    display: flex;
    justify-content: space-between;
}

.card-text span {
    display: flex;
    align-items: center;
}

.card-text span i {
    margin-right: 4px; /* Reduce el margen derecho del ícono */
}

.category-container {
    position: relative; /* Asegura que los botones de flechas se posicionen dentro de este contenedor */
}

.slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

/* Slider */
.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slider {
    overflow: hidden;
    width: 100%;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.recipe-card {
    flex: 0 0 33.33%;
    box-sizing: border-box;
    padding: 0 10px;
}

.card {
    height: 100%;
}

.slider-btn {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    padding: 0;
    margin: 0;
    outline: none;
    transition: transform 0.3s ease;
}

.slider-btn.left-btn {
    left: -30px; /* Ajusta según tu diseño */
}

.slider-btn.right-btn {
    right: -30px; /* Ajusta según tu diseño */
}

.slider-btn:hover {
    color: rgba(255, 255, 255, 0.7); /* Cambia ligeramente el color al pasar el ratón */
}

.slider-btn i {
    transition: transform 0.3s ease;
}

.slider-btn:hover i {
    transform: scale(1.2); /* Ajusta la escala según el tamaño que desees */
}


/* Contenedor de búsqueda */
.search-container {
    margin-bottom: 18px;
    position: relative;
    background-color: white;
    border-radius: 22px;
    padding: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 88%;
    margin-left: 40px;
}

.search-container input[type="text"] {
    width: calc(100% - 38px);
    padding: 10px;
    border: none;
    border-radius: 22px;
    font-size: 15px;
    background-color: transparent;
    outline: none;
    transition: all 0.3s ease-in-out;
    color: #343a40;
}

.search-container input[type="text"]:focus {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
}

.search-container .search-icon {
    position: absolute;
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
    transition: all 0.3s ease-in-out;
}

.search-container .search-icon:hover {
    color: #28a745;
    transform: scale(1.1);
}


.category-link {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background-color: #28a56b;
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-color: white;
    font-size: 0.9rem;
    margin-left: 15px;
}

.category-link:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250%;
    height: 250%;
    background: rgba(255, 255, 255, 0.15);
    transition: all 0.75s ease-in-out;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    z-index: -1;
}

.category-link:hover {
    color: #fff;
    background-color: #1f8c59;
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.category-link:hover:before {
    transform: translate(-50%, -50%) scale(1);
}

.category-link:active {
    transform: scale(1);
    box-shadow: none;
}

.category-section {
    margin-top: 30px;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(40px);
    text-align: center; /* Centra los botones */
}

.category-section:target {
    opacity: 1;
    transform: translateY(0);
    background-color: #e9ecef;
}

.category-section h2 {
    font-size: 1.8rem;
    color: #28a56b;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}


.mensaje {
    background: url('https://images.pexels.com/photos/2015191/pexels-photo-2015191.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center/cover;
    border-radius: 25px;
    padding: 20px;
    height: 250px;
    position: relative; /* Necesario para que el ::before se posicione correctamente */
    transition: transform 0.3s; /* Agrega transición para un efecto suave al resaltar */
}

.mensaje::before { 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.322);
    border-radius: 25px;
    z-index: 1; 
}

.mensaje:hover {
    transform: scale(1.05); /* Ajusta la escala para resaltar la carta al pasar el cursor */
}

.mensaje > * {
    position: relative;
    z-index: 2; /* Asegura que el contenido esté por encima del ::before */
}


.mensaje .rc{
    margin-top: 50px;
    font-size: 45px;
    font-family: 'Courgette', cursive;
    font-family: 'Lobster', sans-serif;
}

.mensaje p{
    color: white;
    font-weight: 500;
    font-size: 20px;
}


/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
    .card {
        width: 100%;
        height: 300px;
        margin: 10px 0;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
        display: flex;
        flex-direction: column;
    }

    .card-img-top {
        height: 150px;
    }

    .card-body {
        padding: 10px;
        height: 150px;
        overflow: hidden;
    }

    .card-body h2 {
        font-size: 18px;
        margin: 0;
    }

    .card-text {
        font-size: 14px;
        flex-direction: column;
    }

    .card-text span {
        margin-bottom: 5px;
    }

    .card-text span i {
        margin-right: 3px;
    }

    .card-text span:not(:nth-of-type(1)):not(:nth-of-type(2)) {
        display: none;
    }
}
