{% load static %}
{% include 'inc/header.html' %}

<link rel="stylesheet" href="{% static 'Css/configuracion/reset_password.css' %}">


<main>
    <div class="container">
        <div class="textos">
            <h1>ReceFy</h1>
            <h2>Cambia tu contraseña</h2>
            <h3>Si quieres cambiar tu contraseña, guárdala y cuídala de terceros, además de aumentar su seguridad.</h3>
        </div>
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <i class="fa-solid fa-user-shield"></i> <label for="">Nueva Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Ingresa tu nueva Contraseña" required>
                <h6 class="correo mt-3"><i class="bi bi-info-circle"></i> La contraseña sera cambiada a partir de ahora por la que ingresaste, Recuerda bien tu contraseña y añadele cierta seguridad para que no la pierdas.</h6>
                <button type="submit" class="btn btn-primary mt-3">Cambiar Contraseña <i class="fa-solid fa-user-gear"></i></button>
            </div>
        </form>
    </div>
</main>

{% include 'inc/footer.html' %}