{% load static %}
{% include 'inc/header.html' %}

<link rel="stylesheet" href="{% static 'Css/configuracion/reset_password.css' %}">

<main>
    <div class="container">
        <div class="textos">
            <h1>ReceFy</h1>
            <h2>Recupera Tu Contraseña</h2>
            <h3>Accede desde tu correo para cambiar tu Contraseña</h3>
        </div>
        <hr>
        <form method="post" action="{% url 'recuperar_contraseña' %}">
            {% csrf_token %}
                {% if messages %}
                    <div class="alert alert-success text-center" role="alert">
                            {% for message in messages %}
                                 {{ message }} <a href="{% url 'index' %}"> haz click aqui para volver al Inicio</a>
                            {% endfor %}
                    </div> 
                      
                {% endif %}
            <div class="form-group">
                <input type="text" class="form-control" id="email" name="email" placeholder="Ingresa Tu correo electronico">
            </div>
            
            <h6 class="correo"><i class="bi bi-info-circle"></i> El Correo que ingresaste tiene que ser de una cuenta ya existente, Recibiras un correo a tu email que te indicara como puedes recuperar tu contraseña.</h6>

            <button type="submit" class="btn btn-primary mt-2">Enviar Correo</button>
            
        </form>
    </div>
            

</main>

{% include 'inc/footer.html' %}