{% load static %}
{% include 'administracion/sethings/links.html' %}


<main>
    <div class="table-responsive mt-4">
        <h1 class="float-end">ReceFy Admin</h1>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Permisos</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for rol in roles %}
                <tr>
                    <td>{{ rol.nombre }}</td>
                    <td>{{ rol.descripcion }}</td>
                    <td>{{ rol.permisos }}</td>
                    <td>
                        <div class="acciones">
                            <button class="btn btn-warning delete-btn" data-url="{% url 'borrar_rol' rol.id %}" data-id="{{ rol.id }}">
                                <i class="fas fa-trash"></i>
                            </button>
                            <a href="{% url 'actualizar_rol' rol.id %}" class="btn btn-info">
                                <i class="fas fa-user-edit fa-lg"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <table class="table table-bordered table-hover">
            <h1 class="float-end">Roles a Usuarios</h1>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id Usuario</th>
                    <th scope="col">Username</th>
                    <th scope="col">Id Rol</th>                    
                    <th scope="col">Rol</th>
                    
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario_rol in usuarios_roles %}
                <tr>
                    <td>{{ usuario_rol.usuario.id }}</td> 
                    <td>{{ usuario_rol.usuario.username }}</td>
                    <td>{{ usuario_rol.rol.id }}</td> 
                    <td>{{ usuario_rol.rol.nombre }}</td> 
                    <td>
                        <div class="acciones">
                          
                            <a href="{% url 'editarRolu' usuario_rol.id %}" class="btn btn-info">
                                <i class="fas fa-user-edit fa-lg"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            
            </tbody>
        </table>
    </div>
</main>
            <div class="float-button">
                <a href="{% url 'insertar_roles' %}" class="btn" data-toggle="tooltip" title="Agregar nuevo rol">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>
        
{% include 'administracion/sethings/src.html' %}