{% load static %}
{% include 'inc/header.html' %}

<link rel="stylesheet" href="{% static 'Css/usuarios/login.css' %}">


<main>
    <div class="container">
        <div class="textos">
            <h1>ReceFy</h1>
            <h2>Iniciar Sesion</h2>
            <h3>¡La Mejor Manera De Cocinar!</h3>
        </div>
        {% if mensaje %}
        <div class="mensaje">
            <i class="bi bi-info-circle"></i> {{ mensaje }}
        </div>
        {% endif %}
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su Correo electronico" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese su Contrasela" required>
            </div>

            <h5><a href="{% url 'recuperar_contraseña' %}">¿Olvidaste tu Contraseña?</a></h5>
            <button type="submit" class="btn btn-primary">Iniciar Sesion</button>

            <h6 class="mt-2">¿Aun no tienes cuenta? ¡Crea tu cuenta aqui!</h6>

            <a href="{% url 'registro_usuario' %}" class="btn" id="crear">crea tu cuenta</a>

        </form>
    </div>
</main>

{% include 'inc/footer.html' %}

</body>
</html>