{% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'Css/usuarios/mi_perfil.css' %}">
</head>
<aside class="sidebar">
    <h2>Mi perfil</h2>
    <hr class="other">

    <a href="{% url 'recetas_usuarios' user.id %}"><i class="fa-solid fa-utensils"></i>Mis Recetas</a>
    <a href="#" id="security-link">
        <i class="fa-solid fa-user-shield"></i> 
        Seguridad  
        <span class="right-icon"><i class="fa-solid fa-caret-down"></i></span>
    </a>
        
    <div id="security-options" class="hidden">
        <hr class="seguridad">
        <a href="/configuracion/updateUser/{{ user.id }}"><i class="bi bi-shield-fill-exclamation"></i> Contraseña</a>
        <a href="#"><i class="fa-solid fa-lock"></i> Privacidad</a>
        <hr class="seguridad">
    </div>

    <a href="#"><i class="fa-solid fa-link"></i>Enlaces</a>
    <a href="#"><i class="fa-solid fa-timeline"></i> Vincular</a>
    
    <br><br><br>
    <hr class="other">
    <a href="/" class=""><i class="fa-solid fa-house-user"></i>Inicio</a>
    <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i>Cerrar sesión</a>
    <h1><a href="{% url 'index' %}">RC</a></h1>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Configuracion
        </button>
        <div class="dropdown-menu">
            <h6 class="dropdown-header">Dropdown header</h6>
            <a class="dropdown-item" href="/actualizar_perfil/{{ user.id }}">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
          </div>
    </div>
</aside>


    <main class="barra">
      {% include 'inc/header.html' %}
        <div class="barita">
            <div class="foto">
                {% if usuario.imagen2 %}
                    <img src="{{ usuario.imagen2.url }}" alt="Perfil del usuario">
                {% else %}
                    <img src="{% static 'media/default.webp' %}" alt="No tienes perfil">
                {% endif %}
            </div>
        </div>
        

        <div class="informacion">
            <div class="row">
                <div class="col">
                    <h1>{{ usuario.first_name }} {{ usuario.last_name }}</h1>
                </div>
                <div class="col">
                    <h1>{{ usuario.username }}</h1>
                </div>
            </div>
            <hr>
        
            {% if usuario %}
                <div class="bio mt-3">
                    {% if usuario.biografia %}
                        <p><i class="bi bi-person-fill"></i> <strong>Biografía:</strong> {{ usuario.biografia }}</p>
                    {% endif %}
                </div>
        
                <div class="row mt-4">
                   
                    
                    <div class="col-md-4">
                        {% if usuario.idioma %}
                            <p><i class="fa-solid fa-language"></i> <strong>Idioma:</strong>{{ usuario.idioma }}</p>
                        {% endif %}
                    </div>
                </div>  
        
                <div class="row mt-2">
                    <div class="col">
                        {% if usuario.telefono %}
                            <p><i class="bi bi-telephone-fill"></i> <strong>Teléfono:</strong> {{ usuario.telefono }}</p>
                            <p><i class="fa-solid fa-envelope"></i> <strong>Correo Electronico:</strong> {{ usuario.email }}</p>

                        {% endif %}
                    </div>
                    <div class="col">
                        {% if usuario.fecha_nacimiento %}
                            <p><i class="bi bi-calendar2-date-fill"></i> <strong>Fecha de Nacimiento:</strong> {{ usuario.fecha_nacimiento }}</p>
                            <p><i class="bi bi-globe-americas"></i> <strong>País:</strong> {{ usuario.pais }}</p>

                        {% endif %}
                    </div>
                </div>
        
                {% if not usuario.biografia and not usuario.telefono and not usuario.fecha_nacimiento and not usuario.pais and not usuario.idioma %}
                    <a href="{% url 'completar_info' %}"><button type="submit" class="btn btn-primary">Completar Información</button></a>
                {% endif %}
            {% else %}
            {% endif %}
           

        </div>
    </main>
    {% include 'inc/footer.html' %}

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function toggleSidebar() {
            var sidebar = document.querySelector('.sidebar');
            sidebar.style.display = sidebar.style.display === 'none' ? 'block' : 'none';
        }

        document.addEventListener('DOMContentLoaded', function () {
            const securityLink = document.getElementById('security-link');
            const securityOptions = document.getElementById('security-options');
        
            securityLink.addEventListener('click', function (event) {
                event.preventDefault(); // Evita la acción por defecto del enlace
                
                // Alterna entre expandir o colapsar
                if (securityOptions.style.height === '0px' || securityOptions.style.height === '') {
                    securityOptions.style.height = securityOptions.scrollHeight + 'px';
                } else {
                    securityOptions.style.height = '0px';
                }
            });
        });
        
        
        
        
    </script>
    

</body>
</html>
