body {
    background-image: url('https://images.pexels.com/photos/5865275/pexels-photo-5865275.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
}
main {
    width: 80%; /* Mayor ancho para que las columnas sean más grandes */
    margin: 0 auto;
}
.container {
    margin-top: 100px;
    margin-bottom: 100px;
}
.row {
    display: flex;
    flex-wrap: wrap; /* Permite que las columnas se reorganicen en pantallas más pequeñas */
    justify-content: space-between;
    gap: 20px; /* Espacio entre columnas */
    padding: 20px;
}
.col {
    flex: 1 1 45%; /* Las columnas ocuparán 45% del ancho del contenedor, ajustándose según el espacio disponible */
    padding: 40px; /* Aumenta el padding para hacer las columnas más grandes */
    min-height: 200px; /* Aumenta la altura mínima */
    background-color: rgba(255, 255, 255, 0.486);
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Añade bordes redondeados */
    color: white;
    transition: background-color 0.3s ease, transform 0.5s ease; 
}

.col:hover{
    background-color:rgba(17, 158, 92, 0.719);
    transform: scale(1.05); /* Escala el contenedor al 105% cuando se pasa el cursor */

}   

.col  h1{
    font-size: 43px;
    color: white;
}

.col p{
    font-size: 23px;
}

@media (max-width: 768px) {
    .col {
        flex: 1 1 100%; /* Las columnas ocupan el 100% del ancho en pantallas pequeñas */
    }
}