{% load static %}
{% include 'inc/header.html' %}

<link rel="stylesheet" href="{% static 'Css/estilos_sueltos/detalles_listados.css' %}">


<div class="iconos_sol_luna">
    <i id="sun-icon" class="fas fa-sun" title="Tema Claro" onclick="toggleTheme()"></i>
    <i id="moon-icon" class="fas fa-moon" title="Tema Oscuro" onclick="toggleTheme()" style="display: none;"></i>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="card border-0 shadow-lg rounded-4" style="max-width: 900px; margin: auto; display: flex;">
                <!-- Imagen a la izquierda -->
                <img src="{{ receta.imagen.url }}" class="card-img-left" alt="{{ receta.nombre_plato }}">
                <div class="card-body d-flex flex-column">
                    <h1 class="display-3 mb-4">{{ receta.nombre_plato }}</h1>
                    <hr>
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <p><i class="fas fa-tags"></i> <strong>Categoría:</strong> {{ receta.categoria }}</p>
                            <p><i class="fas fa-calendar-seasons"></i> <strong>Temporada:</strong> {{ receta.temporada }}</p>
                            <p><i class="fas fa-globe"></i> <strong>Origen:</strong> {{ receta.origen }}</p>
                            <p><i class="fas fa-list-ul"></i> <strong>Ingredientes:</strong> {{ receta.ingredientes }}</p>
                            <p><i class="fas fa-align-left"></i> <strong>Descripción:</strong> {{ receta.descripcion }}</p>
                            <p><i class="fas fa-cogs"></i> <strong>Instrucciones:</strong> {{ receta.instrucciones }}</p>
                            <p><i class="fas fa-clock"></i> <strong>Tiempo de preparación:</strong> {{ receta.tiempo_preparacion }}</p>
                            <p><i class="fas fa-tachometer-alt"></i> <strong>Dificultad:</strong> {{ receta.dificultad }}</p>
                            <small>ReceFy.com</small>

                        </div>
                        <div class="col-md-6">
                            {% if receta.usuario %}
                                <p><i class="fas fa-user"></i> <strong>Subido por:</strong> {{ receta.usuario.first_name }} {{ receta.usuario.last_name }}</p>
                            {% else %}
                                <p><i class="fas fa-user"></i> <strong>Subido por:</strong> Sistema Recetarium</p>
                            {% endif %}

                            <div class="me-gusta-section mt-4">
                                {% if user.is_authenticated %}
                                    <form action="" method="post" style="display:inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="receta_id" value="{{ receta.id_receta }}">
                                        <button type="submit" name="me_gusta" style="background:none; border:none; cursor:pointer;">
                                            <i class="bi bi-heart-fill"></i> <span>{{ receta_me_gusta_count }}</span>
                                        </button>
                                    </form>
                                {% else %}
                                    <i class="bi bi-heart-fill"></i> {{ receta_me_gusta_count }} 
                                    <p><a href="{% url 'login' %}">Inicia sesión</a> para Añadir a " me gusta ".</p>
                                {% endif %}
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>

{% if user.is_authenticated %}
<div class="sec-comentarios mt-4">
    <h2 class="mb-4">Comentarios</h2>

    <form action="" method="post">
    {% csrf_token %}
    <div class="form-group">
        <textarea class="form-control mb-3" id="contenido" name="contenido" placeholder="Escribe tu comentario" required></textarea>
        <button class="btn btn-primary w-100" type="submit">Comentar</button>
    </div>
    </form>

        {% else %}
            <p>.</p>
        {% endif %}

    <div class="comentarios mt-3">

        {% for comentario in comentarios %}
    <div class="comentario">
        <div class="row">
            <div class="col">
                <p><strong>{{ comentario.usuario.username }}:</strong> {{ comentario.contenido }}</p>
                <p class="fecha">Publicado el: {{ comentario.fecha_creacion|date:"Y-m-d" }}</p>
                {% if user.is_authenticated %}
                <form method="post" style="display:inline;" >
                    {% csrf_token %}
                    <input type="hidden" name="comentario_id" value="{{ comentario.id }}">
                    <button type="submit" name="me_gusta" class="float-end" style="background:none; border:none; cursor:pointer;">
                        <i class="fas fa-thumbs-up float-end"></i> <span>{{ comentario.me_gusta_count }}</span>
                    </button>
                </form>
                {% else %}
            </div>
             
        </div>
        <p><a href="{% url 'login' %}">Inicia sesión</a> para dejar un comentario.</p>
        {% endif %}
    </div>
    {% empty %}
        <li class="mensaje_error_comentario">No hay comentarios aún. Sé el primero en comentar.</li>
    {% endfor %}

    
    </div>
</div>
<br><br><br><br>
 <script src="{% static 'js/funcion_temas.js' %}"></script>

{% include 'inc/footer.html' %}
