{% load static %}

{% include 'inc/header.html' %}

<link rel="stylesheet" href="{% static 'Css/estilos_sueltos/listados.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="iconos_sol_luna">
    <i id="sun-icon" class="fas fa-sun" title="Tema Claro" onclick="toggleTheme()"></i>
    <i id="moon-icon" class="fas fa-moon" title="Tema Oscuro" onclick="toggleTheme()" style="display: none;"></i>
</div>


<!-- BUSCADOR Y FILTROS -->
<div class="container mt-4">
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Buscar recetas por nombre...">
        <i class="fas fa-search search-icon"></i>
    </div>
    <br>
    <h3 class="titulos_comidas">
        <i class="fas fa-tags"></i> Categoría de las recetas    
    </h3>
    <hr>
    <div class="botones">
        <a href="#category-desayuno" class="category-link">Desayunos</a>
        <a href="#category-entrante" class="category-link">Entradas</a>
        <a href="#category-platos-principales" class="category-link">Platos Fuertes</a>
        <a href="#category-postre" class="category-link">Postres</a>
        <a href="#category-sopa" class="category-link">Sopas</a>
    </div>
</div>

<div class="container mt-5">
    <div class="category-container" id="category-desayuno">
        <h3 class="titulos_comidas">
            <i class="fas fa-mug-hot"></i> Desayunos
        </h3>
        <hr>
        {% if recetas_desayuno %}
            <button class="slider-btn left-btn" onclick="slide('left', 'desayuno')">
                <i class="fas fa-chevron-left"></i>
            </button>
            <div class="slider-container">
                <div class="slider" id="slider-desayuno">
                    <div class="slider-track">
                        {% for receta in recetas_desayuno %}
                            <div class="col-6 col-md-4 mb-4">
                                <div class="recipe-card">
                                    <div class="card">
                                        <a href="{% url 'detalle_receta' receta.id_receta %}">
                                            {% if receta.imagen and receta.imagen.url %}
                                                <img src="{{ receta.imagen.url }}" class="card-img-top" alt="{{ receta.nombre_plato }}">
                                            {% else %}
                                                <img src="{% static 'path/a/una/imagen_por_defecto.jpg' %}" class="card-img-top" alt="{{ receta.nombre_plato }}">
                                            {% endif %}
                                            <div class="card-body">
                                                <h2 class="card-title">{{ receta.nombre_plato }}</h2>
                                                <span><i class="fas fa-folder"></i> {{ receta.categoria }}</span>
                                                <span><i class="fas fa-clock"></i> {{ receta.tiempo_preparacion }} Minutos</span>
                                                <span><i class="fas fa-star"></i> {{ receta.dificultad }}</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <button class="slider-btn right-btn" onclick="slide('right', 'desayuno')">
                <i class="fas fa-chevron-right"></i>
            </button>
        {% else %}
            <h3 style="color: wheat; text-align: center;">
                No hay recetas disponibles en esta categoría.
            </h3>
        {% endif %}
    </div>
    
    <br><br><br>

    <div class="category-container" id="category-entrante">
        <h3 class="titulos_comidas">
            <i class="fas fa-leaf"></i> Entradas
        </h3>
        <hr>
        {% if recetas_entradas %}
            <button class="slider-btn left-btn" onclick="slide('left', 'entrante')">
                <i class="fas fa-chevron-left"></i>
            </button>
            <div class="slider-container">
                <div class="slider" id="slider-entrante">
                    <div class="slider-track">
                        {% for receta in recetas_entradas %}
                            <div class="col-6 col-md-4 mb-4">
                                <div class="recipe-card">
                                    <div class="card">
                                        <a href="{% url 'detalle_receta' receta.id_receta %}">
                                            {% if receta.imagen and receta.imagen.url %}
                                                <img src="{{ receta.imagen.url }}" class="card-img-top" alt="{{ receta.nombre_plato }}">
                                            {% else %}
                                                <img src="{% static 'path/a/una/imagen_por_defecto.jpg' %}" class="card-img-top" alt="{{ receta.nombre_plato }}">
                                            {% endif %}
                                            <div class="card-body">
                                                <h2 class="card-title">{{ receta.nombre_plato }}</h2>
                                                <span><i class="fas fa-folder"></i> {{ receta.categoria }}</span>
                                                <span><i class="fas fa-clock"></i> {{ receta.tiempo_preparacion }} Minutos</span>
                                                <span><i class="fas fa-star"></i> {{ receta.dificultad }}</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <button class="slider-btn right-btn" onclick="slide('right', 'entrante')">
                <i class="fas fa-chevron-right"></i>
            </button>
        {% else %}
            <h3 style="color: wheat; text-align: center;">
                No hay recetas disponibles en esta categoría.
            </h3>
        {% endif %}
    </div>

    <br><br><br>

    <div class="category-container" id="category-platos-principales">
        <h3 class="titulos_comidas">
            <i class="fas fa-utensils"></i>  Platos Principales
        </h3>
        <hr>
        {% if recetas_platos_principales %}
            <button class="slider-btn left-btn" onclick="slide('left', 'platos-principales')">
                <i class="fas fa-chevron-left"></i>
            </button>
            <div class="slider-container">
                <div class="slider" id="slider-platos-principales">
                    <div class="slider-track">
                        {% for receta in recetas_platos_principales %}
                            <div class="col-6 col-md-4 mb-4">
                                <div class="recipe-card">
                                    <div class="card">
                                        <a href="{% url 'detalle_receta' receta.id_receta %}">
                                            {% if receta.imagen and receta.imagen.url %}
                                                <img src="{{ receta.imagen.url }}" class="card-img-top" alt="{{ receta.nombre_plato }}">
                                            {% else %}
                                                <img src="{% static 'path/a/una/imagen_por_defecto.jpg' %}" class="card-img-top" alt="{{ receta.nombre_plato }}">
                                            {% endif %}
                                            <div class="card-body">
                                                <h2 class="card-title">{{ receta.nombre_plato }}</h2>
                                                <span><i class="fas fa-folder"></i> {{ receta.categoria }}</span>
                                                <span><i class="fas fa-clock"></i> {{ receta.tiempo_preparacion }} Minutos</span>
                                                <span><i class="fas fa-star"></i> {{ receta.dificultad }}</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <button class="slider-btn right-btn" onclick="slide('right', 'platos-principales')">
                <i class="fas fa-chevron-right"></i>
            </button>
        {% else %}
            <h3 style="color: wheat; text-align: center;">
                No hay recetas disponibles en esta categoría.
            </h3>
        {% endif %}
    </div>

    <br><br><br>

    <div class="category-container" id="category-postre">
        <h3 class="titulos_comidas">
            <i class="fas fa-birthday-cake"></i> Postres
        </h3>
        <hr>
        {% if recetas_postres %}
            <button class="slider-btn left-btn" onclick="slide('left', 'postre')">
                <i class="fas fa-chevron-left"></i>
            </button>
            <div class="slider-container">
                <div class="slider" id="slider-postre">
                    <div class="slider-track">
                        {% for receta in recetas_postres %}
                            <div class="col-6 col-md-4 mb-4">
                                <div class="recipe-card">
                                    <div class="card">
                                        <a href="{% url 'detalle_receta' receta.id_receta %}">
                                            {% if receta.imagen and receta.imagen.url %}
                                                <img src="{{ receta.imagen.url }}" class="card-img-top" alt="{{ receta.nombre_plato }}">
                                            {% else %}
                                                <img src="{% static 'path/a/una/imagen_por_defecto.jpg' %}" class="card-img-top" alt="{{ receta.nombre_plato }}">
                                            {% endif %}
                                            <div class="card-body">
                                                <h2 class="card-title">{{ receta.nombre_plato }}</h2>
                                                <span><i class="fas fa-folder"></i> {{ receta.categoria }}</span>
                                                <span><i class="fas fa-clock"></i> {{ receta.tiempo_preparacion }} Minutos</span>
                                                <span><i class="fas fa-star"></i> {{ receta.dificultad }}</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <button class="slider-btn right-btn" onclick="slide('right', 'postre')">
                <i class="fas fa-chevron-right"></i>
            </button>
        {% else %}
            <h3 style="color: wheat; text-align: center;">
                No hay recetas disponibles en esta categoría.
            </h3>
        {% endif %}
    </div>

    <br><br><br>

    <div class="category-container" id="category-sopa">
        <h3 class="titulos_comidas">
            <i class="fas fa-cloud"></i> Sopas
        </h3>
        <hr>
        {% if recetas_sopas %}
            <button class="slider-btn left-btn" onclick="slide('left', 'sopa')">
                <i class="fas fa-chevron-left"></i>
            </button>
            <div class="slider-container">
                <div class="slider" id="slider-sopa">
                    <div class="slider-track">
                        {% for receta in recetas_sopas %}
                            <div class="col-6 col-md-4 mb-4">
                                <div class="recipe-card">
                                    <div class="card">
                                        <a href="{% url 'detalle_receta' receta.id_receta %}">
                                            {% if receta.imagen and receta.imagen.url %}
                                                <img src="{{ receta.imagen.url }}" class="card-img-top" alt="{{ receta.nombre_plato }}">
                                            {% else %}
                                                <img src="{% static 'path/a/una/imagen_por_defecto.jpg' %}" class="card-img-top" alt="{{ receta.nombre_plato }}">
                                            {% endif %}
                                            <div class="card-body">
                                                <h2 class="card-title">{{ receta.nombre_plato }}</h2>
                                                <span><i class="fas fa-folder"></i> {{ receta.categoria }}</span>
                                                <span><i class="fas fa-clock"></i> {{ receta.tiempo_preparacion }} Minutos</span>
                                                <span><i class="fas fa-star"></i> {{ receta.dificultad }}</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <button class="slider-btn right-btn" onclick="slide('right', 'sopa')">
                <i class="fas fa-chevron-right"></i>
            </button>
        {% else %}
            <h3 style="color: wheat; text-align: center;">
                No hay recetas disponibles en esta categoría.
            </h3>
        {% endif %}
    </div>
</div>
<br><br><br><br>
{% include 'inc/footer.html' %}

<!-- Script de búsqueda y slider -->

<script src="{% static 'js/sliders_listados.js' %}"></script>
<script src="{% static 'js/funcion_temas.js' %}"></script>

