{% load static %}
{% include 'inc/header.html' %}

<link rel="stylesheet" href="{% static 'Css/configuracion/reset_password.css' %}">


<main>
    <div class="container">
        <div class="text">
            <h1>ReceFy</h1>
            <p>Cambia tu contraseña</p>
            <p><i class="bi bi-info-circle-fill"> <strong>Sugerencia:</strong></i> Si quieres cambiar tu contraseña, guárdala y cuídala de terceros, además de aumentar su seguridad.</p>
        </div>
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <i class="fa-solid fa-user-shield"></i> <label for="">Nueva Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Ingresa tu nueva Contraseña">
                <h3 class="correo mt-3">La contraseña sera cambiada a partir de ahora por la que ingresaste.</h3>
                <p class="text-center ">Recuerda bien tu contraseña y añadele cierta seguridad para que no la pierdas.</p>
                <button type="submit" class="btn btn-primary mt-3">Cambiar Contraseña <i class="fa-solid fa-user-gear"></i></button>
            </div>
        </form>
    </div>
</main>