@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: white;
    font-family: "Urbanist", sans-serif;
}

.navbar  {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Sombra oscura en el header */
}

.navbar.transparent {
    background-color:  0 2px 5px rgba(0, 0, 0, 0.8);/* Fondo transparente */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8); /* Sombra negra en el header transparente */
}

.content{
    background: url('/static/media/principal1.jpg') no-repeat center center/cover;
    width: 100%;
    height: 700px;
    margin-bottom: 15px;
}

.navbar-brand{
    margin-left: 95px;
    color: white;
    font-family: 'Courgette', cursive;
    font-family: 'Lobster', sans-serif;
    font-size: 40px;
    transition: color 0.3s ease ;
}

.navbar-brand:hover{
    color: #28a56b;
}

.container-fluid .tx{
    border: 4px solid #28a56b;
    border-radius: 50px;
    padding: 10px;
    color: white;
    font-family: 'Courgette', cursive;
    font-family: 'Lobster', sans-serif;
}


.navbar-nav a{
    color: white;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.navbar-nav a:hover{
    color: #28a56b;
    text-decoration: underline;

}

#navbarContent{
    width: 70vh;
}

.bordeado h1{
    color: white;
    font-family: 'Courgette', cursive;
    font-family: 'Lobster', sans-serif;
}

.bienvenido{
    margin-left: 50px;
    margin-top: 180px;
    color: white;
    
}

.bienvenido h1{
    font-size: 60px;
    font-family: 'Courgette', cursive;
    font-family: 'Lobster', sans-serif;
}

.bienvenido p{
    font-size: 30px;
}

main{
    display: block;
    margin-top: 15px;
    margin: 0 auto;
    width: 98%;
}

hr{
    background-color: #28a56b;
    height: 4px;
}

main .servicios{
    font-family: 'Courgette', cursive;
    font-family: 'Lobster', sans-serif;
    color: #28a56b;

}

.navbar-toggler-icon {
    margin-top: 13px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    /* Cambia 'rgba(255, 255, 255, 1)' para ajustar el color de las barras */
  }

.carima h1{
    font-family: 'Courgette', cursive;
    font-family: 'Lobster', sans-serif;
    color: #28a56b;
}

.carousel{
    margin: 0 auto;
    height: 100%;
    width: 80%;
    border-radius: 25px;

}

.carousel-item img{
    border-radius: 25px;
    height: 20%;
    width: 100%;
}


.col-12 {
    border-radius: 8px;
    margin: 0 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.411);
    transition: transform 0.5s ease;
}

.col-12:hover {
    transform: scale(1.05);
    position: relative;
}

.col-12 a {
    text-decoration: none;
}

.col-12 h1 {
    font-family: 'Courgette', cursive;
    font-family: 'Lobster', sans-serif;            
    padding: 10px;
    margin-top: 15px;
    font-size: 37px;
    color: #fff;
    transition: color 0.3s ease;
}

.col-12 h1:hover{
    color: #28a56b;
}

.col-12 p {
    color: white;
}


#recetas{
    background: url('https://images.pexels.com/photos/6062042/pexels-photo-6062042.jpeg?auto=compress&cs=tinysrgb&w=600')no-repeat center center/cover;
}

#salud{
    background: url('https://images.pexels.com/photos/1833335/pexels-photo-1833335.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')no-repeat center center/cover;
}

#crear{
    background: url('https://images.pexels.com/photos/7613555/pexels-photo-7613555.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')no-repeat center center/cover;
}

#generador{
    background: url('https://images.pexels.com/photos/1358389/pexels-photo-1358389.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')no-repeat center center/cover;
}

#consejeros{
    background: url('https://images.pexels.com/photos/6287554/pexels-photo-6287554.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')no-repeat center center/cover;
}

.informacion{
    text-align: justify;
}

.informacion h1{
    font-family: 'Courgette', cursive;
    font-family: 'Lobster', sans-serif;
    color: #28a56b;         
}

footer{
    background-color: grey;
    padding: 10px;
    transition: background-color 0.3s ease;
}

footer:hover{
    background-color: #28a56b;
}

@media (max-width: 768px) {
    main{
        width: 90%;
    }

    .col-12 {
        margin: 10px 0;
    }
    
    .col-12 h1:hover{
        color: white;
    }

    .navbar-brand{
        margin-left: 35px;
    }

}
